@page "/ads"

<PageTitle>Объявления</PageTitle>

<h1>Объявления о продаже и покупке оружия</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}