@page
@model PrivacyModel
@{
    ViewData["Title"] = "Правила сайта";
}
<h1>@ViewData["Title"]</h1>

<h2>Уважаемый пользователь нашего сайта!</h2>
<p>РАЗМЕЩАЯ СВОЕ ОБЪЯВЛЕНИЕ ВЫ КАК АВТОР СВОЕГО ОБЪЯВЛЕНИЯ ПОДТВЕРЖДАЕТЕ , ЧТО ВАШЕ ИЗДЕЛИЕ СТОИТ НА УЧЕТЕ В СООТВЕТСТВУЮЩИХ ОРГАНАХ ( ЕСЛИ ТОГО ТРЕБУЕТ ЗАКОНОДАТЕЛЬСТВО ПРИМЕНЯЕМОЕ К ВАШЕМУ ИЗДЕЛИЮ ) ВЫ ПРОДАЕТЕ В ПОЛНОМ СООТВЕТСТВИИ ЗАКОНАМ РОССИЙСКОЙ ФЕДЕРАЦИИ НЕ НАРУШАЯ ИХ, И ИМЕЕТЕ ВСЕ НЕОБХОДИМЫЕ УСТАНОВЛЕННЫЕ ЗАКОНАМИ РОССИЙСКОЙ ФЕДЕРАЦИИ РАЗРЕШИТЕЛЬНЫЕ ДОКУМЕНТЫ (СЕРТИФИКАТЫ СООТВЕТСВИЯ, ПАСПОРТА) ИНЫЕ ДОКУМЕНТЫ ПОДТВЕРЖДАЮЩИЕ КУПЛЮ ПРОДАЖУ ВАШЕГО ИЗДЕЛИЯ .ПРИ ПОДАЧЕ ОБЪЯВЛЕНИЯ АДМИНИСТРАЦИЯ САЙТА В ПРАВЕ ПОТРЕБОВАТЬ ОТ АВТОРА ОБЪЯВЛЕНИЯ СООТВЕТСТВУЮЩИЕ ДОКУМЕНТЫ .</p>
<p>Если Вам нужно продать свое оружие, изделие, либо иные товары, услуги,  то Вы можете это сделать на нашей  площадке, Нажмите - Вход и регистрация -  далее зарегистрируйтесь -  Подать объявление  -  заполните строки тела объявления  и  оплатите размещение , после оплаты объявление будет опубликовано автоматически  , если после оплаты в Личном кабинете вы не видите вашего объявления напишите в службу поддержки и в течении 24 часов ваше объявление будет активно .  Так же вы можете  воспользоваться другими платными  услугами в личном кабинете. </p>
<p>Юридическим лицам и физическим лицам которые размещают свои изделия и услуги  на данной площадке все размещения без исключений являются платными и устанавливаются администрацией сайта в одностороннем порядке  данное сообщение и предупреждение об оплате показывается перед  подачей ( размещения) объявления . Если после оплаты размещения изделий либо услуг  физическим либо юридическим лицом , выявляется администратором либо модераторами сайта  повторное нарушение размещения объявления то денежные средства не подлежат возврату , так как услуга администратором оказана в полном объеме , а именно - факт размещения объявления на сайте oruzheika.com  Администратор либо модераторы сайта при первичном нарушении размещения объявления в одностороннем порядке могут от редактировать данное нарушение исправив его в соответсвии с Правилами сайта .   </p>
<p>Обращаем Ваше внимание ! Размещая объявления на сайте , Продажа огнестрельного оружия между физическими и юридическими лицами  происходит только путем переоформления того либо иного оружия в соответствующих органах в соответствии с ФЗ-150 «ОБ ОРУЖИИ» от 13.12.1996</p>
<p>Уважаемые пользователи! Сайт oruzheika.com – является порталом для размещения  объявлений физическими  лицами имеющими разрешительную документацию на свое оружие если этого требует тип оружия и иного типа оружия и юридическими лицами имеющие  лицензии и соответствующие разрешительные документы на деятельность своей организации.</p>
<p>Сайт oruzheika.com не предоставляет услуги продажи и покупки  оружия ! не является магазином !   не является гарантом сделки! не является материально заинтересованным лицом  между частными и юридическими  лицами ! Не участвует в сделках !   Сайт oruzheika.com  является  информативной площадкой в сети интернет в которой пользователи сайта авторы своих размещенных  объявлений размещают свои изделия .</p>
<p>Объявления размещаемые  на сайте , должны полностью соответствовать законодательству Российской Федерации . Все объявления проходят проверку администраторами сайта на соответствие требованиям законодательства РФ.</p>
<p>Пользователь ( физическое либо юридическое лицо )  зарегистрированный на данной площадке ( автор)  объявления несет полную юридическую ответственность за размещенные свои изделия, товары , услуги, перед законами Российской Федерации  публикуя Объявление, Рекламный баннер , Магазин, Стрелковый стенд, Тир либо онлайн магазин. </p>
<p>В случае не соответствия объявления правилам сайта модераторы сайта в одностороннем порядке имеют право отредактировать объявление в соответсвии с правилами сайта, либо данное объявление снимается администратором а пользователь может быть заблокирован без возможности восстановления на усмотрение администрации сайта . </p>
<p>Опубликованные объявления проверяются модераторами сайта . В случае выявления не соответствия  правилам сайта , объявление  будет удалено , а пользователь  объявления может быть удален из ресурса  без дальнейшего права  размещений  объявлений.</p>


<h2>ЗАПРЕЩАЕТСЯ:</h2>
<ul>
    <li>Использование нескольких аккаунтов и электронных ящиков одним пользователем</li>
    <li>Повторное размещение объявлений</li>
    <li>Продажа основных узлов огнестрельного оружия</li>
    <li>Обсуждение стоимости товара в комментариях к объявлению</li>
    <li>Публикация объявлений о продаже огнестрельного и травматического оружия без документов</li>
    <li>Размещение объявлений о продаже товаров, запрещенных на территории РФ</li>
    <li>Указание несуществующих контактов, имён, телефона</li>
    <li>Размещение объявлений, не соответствующих тематике сайта</li>
    <li>Продажа глушителей, модераторов звука</li>
    <li>Продажа электрошокеров, газовых распылителей</li>
    <li>Продажа декапсюлированных гильз без публикации фотографий</li>
    <li>Продажа ДТК закрытого типа без публикации сертификата</li>
    <li>Продажа бланков и макетов стволов</li>
    <li>Добавление разных товаров в одном объявлении</li>
    <li>Добавление сторонних сайтов, ссылок, мессенджеров в описание к объявлению</li>
    <li>Добавление слов "Срочно" в название изделия</li>
    <li>Указание неверной цены в объявлении</li>
    <li>Размещение фотографий, не имеющих отношения к товару</li>
    <li>Размещение товара на фоне, где есть иные предметы</li>
    <li>Размещение чужих фотографий, не имеющих отношения к товару</li>
    <li>Размещение фотографий с водяными знаками сторонних сайтов</li>
    <li>Размещение одного и того же объявления с разных электронных почтовых ящиков</li>
    <li>Оскорбление других пользователей сайта в комментариях и тексте объявления</li>
    <li>Выражение негативного отношения к товарам, нецензурная брань</li>
    <li>Размещение объявлений о продаже капсюлированных гильз, различных боеприпасов, патронов (имеют право только лицензированные оружейные магазины)</li>
    <li>Согласие с политикой в отношении персональных данных при использовании платных услуг на сайте</li>
</ul>





