@page
@model TheArmory.Web.Pages.Auth.Index

@{
    ViewData["Title"] = "Авторизация";
}

<div class="container mt-5">
        <h1 class="text-center">Авторизация</h1>
        <form method="post" class="mt-4">
            <div class="mb-3">
                <label for="login" class="form-label">Логин:</label>
                <input type="text" id="login" name="login" asp-for="Login" class="form-control" required>
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль:</label>
                <input type="password" id="password" name="password" asp-for="Password" class="form-control" required>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" id="rememberMe" name="rememberMe" class="form-check-input">
                <label for="rememberMe" class="form-check-label">Запомнить меня</label>
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
