@page
@model Index

@{
    ViewData["Title"] = "Авторизация";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h1 class="card-title">Вход</h1>
                    <form method="post" class="mt-4">
                        <div class="mb-3">
                            <input type="text" asp-for="Command.Login" class="form-control" placeholder="Логин" required>
                            <span asp-validation-for="Command.Login" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input type="password" asp-for="Command.Password" class="form-control" placeholder="Пароль" required>
                            <span asp-validation-for="Command.Password" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 text-start">
                                <div class="form-check">
                                    <input type="checkbox" id="RememberMe" asp-for="Command.RememberMe" class="form-check-input">
                                    <label for="RememberMe" class="form-check-label">Запомнить меня</label>
                                </div>
                            </div>
                            <div class="col-6 text-end">
                                <a asp-page="/Auth/PasswordRecovery">Забыли пароль?</a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary btn-block w-100">
                                <i class="bi bi-box-arrow-in-right"></i> Войти
                            </button>
                        </div>
                    </form>
                    <div class="mt-4">
                        <h5>Нет аккаунта в TheArmory?</h5>
                        <a class="btn btn-outline-primary w-100 mt-3" asp-page="/Auth/Registration">
                            <i class="bi bi-person-plus"></i> Регистрация
                        </a>
                        <div class="mt-3 text-center text-muted">
                            <small>При регистрации вы соглашаетесь с правилами сайта <a asp-area="" asp-page="/Privacy">Правила сайта</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("ErrorModelWindow", Model.RequestResult)
