@page "/Auth/Register"
@model Registration

@{
    ViewData["Title"] = "Регистрация";
}

@await Html.PartialAsync("ErrorModelWindow", Model.RequestResult)

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h1 class="card-title">Регистрация</h1>
                    <form method="post" class="mt-4">
                        <div class="mb-3">
                            <input type="text" asp-for="Command.Login" class="form-control" placeholder="Логин" required maxlength="32" oninput="removeSpaces(this)">
                            <span asp-validation-for="Command.Login" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input type="password" asp-for="Command.Password" class="form-control" placeholder="Пароль" required maxlength="32" oninput="removeSpaces(this)">
                            <span asp-validation-for="Command.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input type="password" asp-for="Command.PasswordConfirm" class="form-control" placeholder="Повторите пароль" required maxlength="32" oninput="removeSpaces(this)">
                            <span asp-validation-for="Command.PasswordConfirm" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary btn-block w-100"><i class="bi bi-person-plus"></i> Зарегистрироваться</button>
                        </div>
                        <div class="mt-3">
                            <div class="row">
                                <div class="col text-start">
                                    <a asp-page="/Auth/Index" class="btn btn-outline-secondary w-100"><i class="bi bi-x"></i> Отмена</a>
                                </div>
                            </div>
                            <div class="mt-3 text-center text-muted">
                                <small>При регистрации вы соглашаетесь с правилами сайта <a asp-area="" asp-page="/Privacy">Правила сайта</a></small>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function removeSpaces(input) {
        input.value = input.value.replace(/\s/g, '');
    }
</script>
