@page "/Auth/Register"
@model TheArmory.Web.Pages.Auth.Registration

@{
    ViewData["Title"] = "Регистрация";
}

<div class="container mt-5">
    <h1 class="text-center">Регистрация</h1>
    <form method="post" class="mt-4">
        <div class="mb-3">
            <label for="name" class="form-label">Имя:</label>
            <input type="text" id="name" name="name" asp-for="Command.Name" class="form-control" required>
            <span asp-validation-for="Command.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Номер телефона:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" asp-for="Command.PhoneNumber" class="form-control" required>
            <span asp-validation-for="Command.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" name="email" asp-for="Command.Email" class="form-control" required>
            <span asp-validation-for="Command.Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль:</label>
            <input type="password" id="password" name="password" asp-for="Command.Password" class="form-control" required>
            <span asp-validation-for="Command.Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="passwordConfirm" class="form-label">Подтвердите пароль:</label>
            <input type="password" id="passwordConfirm" name="passwordConfirm" asp-for="Command.PasswordConfirm" class="form-control" required>
            <span asp-validation-for="Command.PasswordConfirm" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
</div>
