@page
@model ChangePassword

@{
    ViewData["Title"] = "Сменить пароль";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h1 class="card-title">Смена пароля</h1>
                    <p class="card-text text-muted">
                        Введите новый пароль и подтвердите его, чтобы изменить ваш текущий пароль. Убедитесь, что новый пароль надежный и не совпадает с предыдущими.
                    </p>
                    <form method="post" class="mt-4">
                        <div class="mb-3">
                            <input type="password" asp-for="ChangePasswordCommand.Password" class="form-control" placeholder="Новый пароль" required maxlength="32">
                            <span asp-validation-for="ChangePasswordCommand.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input type="password" asp-for="ChangePasswordCommand.PasswordConfirm" class="form-control" placeholder="Повтор пароля" required maxlength="32">
                            <span asp-validation-for="ChangePasswordCommand.PasswordConfirm" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary btn-block w-100">Сменить пароль</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("ErrorModelWindow", Model.RequestResult)