@page
@model ChangePassword

@{
    ViewData["Title"] = "Сменить пароль";
}

<div class="container mt-5 text-center">
    <h1>Смена пароля</h1>
    <form method="post" class="mt-4 d-inline-block">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="mb-3">
                    <input type="password" asp-for="ChangePasswordCommand.Password" class="form-control" placeholder="Новый пароль" required>
                    <span asp-validation-for="ChangePasswordCommand.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input type="password" asp-for="ChangePasswordCommand.PasswordConfirm" class="form-control" placeholder="Повтор пароля" required>
                    <span asp-validation-for="ChangePasswordCommand.PasswordConfirm" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <button type="submit" class="btn btn-primary btn-block">Сменить пароль</button>
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("ErrorModelWindow", Model.RequestResult)
