@page
@model DeleteAccount

@{
    ViewData["Title"] = "Удалить аккаунт";
}
@await Html.PartialAsync("ErrorModelWindow", Model.Result)

<div class="row">
    <div class="col-md-9">
        <div class="container">
            <h2>Удалить аккаунт</h2>
            <p>При удалении вашего аккаунта все ваши объявления также будут удалены с площадки. Вы уверены, что хотите удалить свой аккаунт?</p>
            
            <form method="post" asp-page-handler="Delete">
                <button type="submit" class="btn btn-danger">Удалить аккаунт</button>
            </form>
        </div>
    </div>
</div>