@page
@model TheArmory.Web.Pages.Account.Index

@{
    ViewData["Title"] = "Профиль";
}

<div class="col-md-3 sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/PersonalInfo">Персональная информация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/ChangePassword">Смена пароля</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/DeleteAccount">Удаление аккаунта</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/MyAds">Мои объявления</a>
        </li>
    </ul>
</div>

<div class="col-md-9">
    
</div>
