<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/PersonalInfo">
                <i class="bi bi-person me-2"></i> Персональная информация
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/ChangePassword">
                <i class="bi bi-key me-2"></i> Смена пароля
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/DeleteAccount">
                <i class="bi bi-trash me-2"></i> Удаление аккаунта
            </a>
        </li>
    </ul>
</div>
