<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/ChangePassword">
                <i class="bi bi-key me-2"></i> Сменить пароль
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/DeleteAccount">
                <i class="bi bi-trash me-2"></i> Удалить аккаунт
            </a>
        </li>
    </ul>
</div>
